*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    color: white;
}

div.container{
    position: relative;

    background-color: black;
    padding-top: 50px;
    height: 100vh;
}

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

div.container > ul{
    position: absolute;

    top: 1.5%;
    right: 0;
    list-style-type: none;
}

div.container > ul li{
    margin-right:.85rem;
}

div.container > ul li button{
    background-color: #494949;
    padding: .25rem;
    border: none;
    border-radius: 5px;
}

div.container-webcam{
    max-width: 1770px;
    margin: 0 auto;
    overflow: auto;
    height: calc(100vh - 140px);
}

div.container-webcam::-webkit-scrollbar{
    display: none;
}

div.container-webcam > div.cam{
    position: relative;
    width: calc(100% / 7);
    padding: 5px;
}

div.container-webcam > div.cam > img{
    width: 100%;
    height: 100%;
}

div.container-webcam > div.cam > span.name{
    position: absolute;
    left: 8px;
    bottom: 9px;
    padding: 2px;
    background-color: rgba(80, 70, 70, 0.6);
}

footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    background-color: #222222;
    justify-content: space-between;
}

footer div.icon{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

footer  div.icon i{
    font-size: 30px;
    margin-bottom: 5px;
}

footer  div.arrow{
    text-align: center;
    vertical-align: middle;
    padding-top: 30px;
}

footer div.esc-meeting{
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #4a4a4a;
}

footer div.esc-meeting p{
    color: red;
}